@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #5267DF;
    --red: #FA5959;
    --black: #242A45;
    --grey: #9194A2;
    --white: #F2F2F2;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    
}

/* LAYOUT */

/* NAV */

nav {
    margin-bottom: 6em;
}
.nav-wr {
    margin: 50px auto;
    max-width: 1104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    .nav-wr .nav-list {
        /* display: none; */
    }
    .nav-list li{
        list-style: none;
        display: inline;
        margin-right: 44px;
        cursor: pointer;
        font-size: .8rem;
    }
     a {
        text-decoration: none;
        color: var(--black);
    }
    a:hover{
        color: var(--red);
    }
    .nav-list li:hover{
        color: var(--red);
    }
    .nav-list .login {
        background-color: var(--red);
        color: var(--white);
        padding: 12px 32px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        border-radius: 5px;
    }
        .login:hover {
            background-color: var(--white);
            border: 1px solid var(--red);
            color: var(--red);
        }
    .hamburger {
        display: none;
    }

/* HEADER */
.global {
    overflow: hidden;
}

header {
    max-width: 1104px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    
}
.text {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .text h1 {
        font-weight: 500;
        margin-bottom: 24px;
    }
    .text p {
        line-height: 28px;
        margin-bottom: 32px;
        color: var(--grey);
    }
    .text button {
        border: none;
        padding: 12px 32px;
        border-radius: 5px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        cursor: pointer;
    }
    .text .btn-1 {
        background-color: var(--blue);
        color: var(--white);
    }
    .text .btn-1:hover {
        background-color: var(--white);
        border: 1px solid var(--blue);
        color: var(--blue);
    }
    .text .btn-2 {
        background-color: var(--white);
        filter: brightness(.98);
    }
    .text .btn-2:hover {
        border: 1px solid var(--black);
    }

.art {
    position: relative;
    max-width: 540px;
    overflow: hidden;
    overflow: visible;
}
    .art .blue-thing {
        z-index: 0;
        position: absolute;
        left: 10em;
        top: 5em;
        width: 1000px;
        height: 302px;
        background-color: var(--blue);
        border-radius: 316.5px;
        
    }
    .art img {
        position: relative;
        z-index: 10;
        width: 30em;
    }


/* ARTICLE */

article {
    max-width: 540px;
    margin: 0 auto 72px;
}
    article h1 {
        text-align: center;
        font-weight: 500;
    }
    article p {
        text-align: center;
        margin-top: 16px;
        color: var(--grey);
    }

/* FEATURES */

.feature-tabs {
    margin: 0 auto;
    max-width: 730px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 72px;
}
    .feature-tabs a {
        font-size: 16px;
        padding: 1.5em;
        padding: 0 1.5em 1.5em 1.5em;
        cursor: pointer;
    }
    .active {border-bottom: 3px solid var(--red);}
    .feature-tabs a:hover{
        color: var(--red);
    }
        .searching {
            margin-right: 60px;
        }

main {
    max-width: 1104px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 100px;
    height: 500px;
    
}
    .feature-left {
        order: 1;
        transform: rotateY(180deg);
        min-width: 540px;
        overflow: visible;
        
    }
    .feature-left img {
        transform: rotateY(180deg);
        width: 400px;
        left: 100px;
    }
    .feature-right {
        order: 2;
    }


/* CARDS */

.extention-cards {
    margin: 50px auto 150px;
    max-width: 911px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
    .card {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
        border-radius: 15px;
    }
    .card img {
        max-width: 102px;
        margin-bottom: 32px;
    }
    .card h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 6px;
    }
    .card p {
        text-align: center;
        color: var(--grey);
        font-size: 15px;
        padding-bottom:  32px;
        width: 100%;
        border-bottom: 5px dotted rgb(219, 216, 216);
        /* margin-bottom: 24px; */
    }
    .blue-btn {
        border: none;
        padding: 12px 32px;
        border-radius: 5px;
        box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
        cursor: pointer;
        background-color: var(--blue);
        color: var(--white);
        margin: 24px;
    }
    .card button:hover {
        background-color: var(--white);
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    .c1 {
        margin-bottom: 60px;
    }
    .c2 {
        margin-bottom: 30px;
    }

/* FAQ */
.faq-wr {
    max-width: 540px;
    margin: 0 auto 150px;
    
}   

    .faq li {
       list-style: none; 
       border-top: 1px solid rgb(207, 207, 207);
       /* padding-bottom: 5px; */
       padding-top: 19px;
       cursor: pointer;
    }

    .faq .ques{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
        .ques:hover {
            color: var(--red);
        }
    .faq .answ {
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 10px    ;
        display: none;
    }

    /* DYNAMIC CLASSES */
    .open .ques p {
        font-weight: 600;
    }
    .open .ques img {
        transform: scaleY(-1);
    }
    .open .answ {
        display: block;
    }
    /* =============== */

    .faq-wr button {
        display: block;
        margin: 0 auto;
    }
    .faq-wr button:hover{
        background-color: var(--white);
        border: 1px solid var(--blue);
        color: var(--blue);
    }

/* SING UP */

.sing-up-wr {
    background-color: var(--blue);
}
.sing-up {
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .sing-up p {
        font-size: 13px;
        color: var(--white);
        margin-top: 58px;
        margin-bottom: 24px;
    }
    .sing-up h2 {
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        color: var(--white);
        margin-bottom: 36px;
    }
    .sing-up .sing-form {
        margin-bottom: 54px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* ERROR CLASS */
    .throw p {
        display: block !important;
    }
    .throw input {
        background-image: url(./images/icon-error.svg);
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
    /*  */

    .error-wr {
        background-color: var(--red);
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        
    }
    
        .error-wr .err-msg {
            margin: .4em;
            padding-left: .5em;
            display: none;
        }
        .sing-form input {
            width: 300px;
            border-radius: 5px;
            border: none;
            outline: none;
            padding-left: 1em;
            padding: 1em;
        }
        .sing-form button {
        background-color: var(--red);
        color: var(--white);
        padding: 12px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        }
        .sing-form button:hover {
            background-color: var(--white);
            border: 1px solid var(--red);
            color: var(--red);
        }

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 28px 0;
}
.footer-wr {
    max-width: 700px;
    display: flex;
    margin-left: 165px;
}
    .footer-list li{
        width: 100%;
        color: var(--white);
        margin-left: 63px;
        list-style: none;
        display: inline;
        font-size: 13px;
        cursor: pointer;
    }
    .footer-list li:hover{
        color: var(--red);
    }


.footer-icons {
    margin-right: 165px;
    display: flex;
    align-items: center;
}
.footer-icons img {
    margin-left: 15px;
    cursor: pointer;
}

